<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coldchain.project.business.dict.mapper.FlowValuationRatioMapper">
    
    <resultMap type="FlowValuationRatio" id="FlowValuationRatioResult">
        <result property="flowValuationRatioId"    column="flow_valuation_ratio_id"    />
        <result property="name"    column="name"    />
        <result property="descr"    column="descr"    />
        <result property="price"    column="price"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFlowValuationRatioVo">
        select flow_valuation_ratio_id, name, descr, price, delete_flag, create_time, update_time from nts_dict_flow_valuation_ratio
    </sql>

    <select id="selectFlowValuationRatioList" parameterType="FlowValuationRatio" resultMap="FlowValuationRatioResult">
        <include refid="selectFlowValuationRatioVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="descr != null  and descr != ''"> and descr = #{descr}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectFlowValuationRatioById" parameterType="Integer" resultMap="FlowValuationRatioResult">
        <include refid="selectFlowValuationRatioVo"/>
        where flow_valuation_ratio_id = #{flowValuationRatioId}
    </select>
        
    <insert id="insertFlowValuationRatio" parameterType="FlowValuationRatio" useGeneratedKeys="true" keyProperty="flowValuationRatioId">
        insert into nts_dict_flow_valuation_ratio
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="descr != null  and descr != ''">descr,</if>
            <if test="price != null ">price,</if>
            <if test="deleteFlag != null ">delete_flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="descr != null  and descr != ''">#{descr},</if>
            <if test="price != null ">#{price},</if>
            <if test="deleteFlag != null ">#{deleteFlag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFlowValuationRatio" parameterType="FlowValuationRatio">
        update nts_dict_flow_valuation_ratio
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="descr != null  and descr != ''">descr = #{descr},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="deleteFlag != null ">delete_flag = #{deleteFlag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where flow_valuation_ratio_id = #{flowValuationRatioId}
    </update>

    <delete id="deleteFlowValuationRatioById" parameterType="Integer">
        delete from nts_dict_flow_valuation_ratio where flow_valuation_ratio_id = #{flowValuationRatioId}
    </delete>

    <delete id="deleteFlowValuationRatioByIds" parameterType="String">
        delete from nts_dict_flow_valuation_ratio where flow_valuation_ratio_id in 
        <foreach item="flowValuationRatioId" collection="array" open="(" separator="," close=")">
            #{flowValuationRatioId}
        </foreach>
    </delete>
    
</mapper>