<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coldchain.project.business.dict.mapper.DeviceVendorMapper">
    
    <resultMap type="DeviceVendor" id="DeviceVendorResult">
        <result property="deviceVendorId"    column="device_vendor_id"    />
        <result property="name"    column="name"    />
        <result property="descr"    column="descr"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDeviceVendorVo">
        select device_vendor_id, name, descr, delete_flag, create_time, update_time from nts_dict_device_vendor
    </sql>

    <select id="selectDeviceVendorList" parameterType="DeviceVendor" resultMap="DeviceVendorResult">
        <include refid="selectDeviceVendorVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="descr != null  and descr != ''"> and descr = #{descr}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectDeviceVendorById" parameterType="Integer" resultMap="DeviceVendorResult">
        <include refid="selectDeviceVendorVo"/>
        where device_vendor_id = #{deviceVendorId}
    </select>
        
    <insert id="insertDeviceVendor" parameterType="DeviceVendor" useGeneratedKeys="true" keyProperty="deviceVendorId">
        insert into nts_dict_device_vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="descr != null  and descr != ''">descr,</if>
            <if test="deleteFlag != null ">delete_flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="descr != null  and descr != ''">#{descr},</if>
            <if test="deleteFlag != null ">#{deleteFlag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDeviceVendor" parameterType="DeviceVendor">
        update nts_dict_device_vendor
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="descr != null  and descr != ''">descr = #{descr},</if>
            <if test="deleteFlag != null ">delete_flag = #{deleteFlag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where device_vendor_id = #{deviceVendorId}
    </update>

    <delete id="deleteDeviceVendorById" parameterType="Integer">
        delete from nts_dict_device_vendor where device_vendor_id = #{deviceVendorId}
    </delete>

    <delete id="deleteDeviceVendorByIds" parameterType="String">
        delete from nts_dict_device_vendor where device_vendor_id in 
        <foreach item="deviceVendorId" collection="array" open="(" separator="," close=")">
            #{deviceVendorId}
        </foreach>
    </delete>
    
</mapper>