<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coldchain.project.business.dict.mapper.AccountTypeMapper">
    
    <resultMap type="AccountType" id="AccountTypeResult">
        <result property="accountTypeId"    column="account_type_id"    />
        <result property="name"    column="name"    />
        <result property="descr"    column="descr"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAccountTypeVo">
        select account_type_id, name, descr, delete_flag, create_time, update_time from nts_dict_account_type
    </sql>

    <select id="selectAccountTypeList" parameterType="AccountType" resultMap="AccountTypeResult">
        <include refid="selectAccountTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="descr != null  and descr != ''"> and descr = #{descr}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectAccountTypeById" parameterType="Integer" resultMap="AccountTypeResult">
        <include refid="selectAccountTypeVo"/>
        where account_type_id = #{accountTypeId}
    </select>
        
    <insert id="insertAccountType" parameterType="AccountType" useGeneratedKeys="true" keyProperty="accountTypeId">
        insert into nts_dict_account_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="descr != null  and descr != ''">descr,</if>
            <if test="deleteFlag != null ">delete_flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="descr != null  and descr != ''">#{descr},</if>
            <if test="deleteFlag != null ">#{deleteFlag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAccountType" parameterType="AccountType">
        update nts_dict_account_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="descr != null  and descr != ''">descr = #{descr},</if>
            <if test="deleteFlag != null ">delete_flag = #{deleteFlag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where account_type_id = #{accountTypeId}
    </update>

    <delete id="deleteAccountTypeById" parameterType="Integer">
        delete from nts_dict_account_type where account_type_id = #{accountTypeId}
    </delete>

    <delete id="deleteAccountTypeByIds" parameterType="String">
        delete from nts_dict_account_type where account_type_id in 
        <foreach item="accountTypeId" collection="array" open="(" separator="," close=")">
            #{accountTypeId}
        </foreach>
    </delete>
    
</mapper>