<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coldchain.project.business.order.mapper.OrderFlowPlansMapper">

    <resultMap type="OrderFlowPlans" id="OrderFlowPlansResult">
        <result property="orderFlowPlansId" column="order_flow_plans_id"/>
        <result property="orderId" column="order_id"/>
        <result property="orderType" column="order_type"/>
        <result property="plansName" column="plans_name"/>
        <result property="plansType" column="plans_type"/>
        <result property="plansDesc" column="plans_desc"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="totalPrice" column="total_price"/>
        <result property="flowNumber" column="flow_number"/>
        <result property="months" column="months"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectOrderFlowPlansVo">
        select order_flow_plans_id, order_id,order_type, plans_name, plans_type, plans_desc, unit_price, total_price, flow_number, months, create_time, update_time from nts_order_flow_plans
    </sql>

    <select id="selectOrderFlowPlansList" parameterType="OrderFlowPlans" resultMap="OrderFlowPlansResult">
        <include refid="selectOrderFlowPlansVo"/>
        <where>
            <if test="orderId != null ">and order_id = #{orderId}</if>
            <if test="orderType != null ">and order_type = #{orderType}</if>
            <if test="plansName != null  and plansName != ''">and plans_name like concat('%', #{plansName}, '%')</if>
            <if test="plansType != null ">and plans_type = #{plansType}</if>
            <if test="plansDesc != null  and plansDesc != ''">and plans_desc = #{plansDesc}</if>
            <if test="unitPrice != null ">and unit_price = #{unitPrice}</if>
            <if test="totalPrice != null ">and total_price = #{totalPrice}</if>
            <if test="flowNumber != null ">and flow_number = #{flowNumber}</if>
            <if test="months != null ">and months = #{months}</if>
        </where>
    </select>

    <select id="selectOrderFlowPlansById" parameterType="Long" resultMap="OrderFlowPlansResult">
        <include refid="selectOrderFlowPlansVo"/>
        where order_flow_plans_id = #{orderFlowPlansId}
    </select>

    <insert id="insertOrderFlowPlans" parameterType="OrderFlowPlans" useGeneratedKeys="true"
            keyProperty="orderFlowPlansId">
        insert into nts_order_flow_plans
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">order_id,</if>
            <if test="orderType != null ">order_type,</if>
            <if test="plansName != null  and plansName != ''">plans_name,</if>
            <if test="plansType != null ">plans_type,</if>
            <if test="plansDesc != null  and plansDesc != ''">plans_desc,</if>
            <if test="unitPrice != null ">unit_price,</if>
            <if test="totalPrice != null ">total_price,</if>
            <if test="flowNumber != null ">flow_number,</if>
            <if test="months != null ">months,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">#{orderId},</if>
            <if test="orderType != null ">#{orderType},</if>
            <if test="plansName != null  and plansName != ''">#{plansName},</if>
            <if test="plansType != null ">#{plansType},</if>
            <if test="plansDesc != null  and plansDesc != ''">#{plansDesc},</if>
            <if test="unitPrice != null ">#{unitPrice},</if>
            <if test="totalPrice != null ">#{totalPrice},</if>
            <if test="flowNumber != null ">#{flowNumber},</if>
            <if test="months != null ">#{months},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateOrderFlowPlans" parameterType="OrderFlowPlans">
        update nts_order_flow_plans
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="orderType != null ">order_type = #{orderType},</if>
            <if test="plansName != null  and plansName != ''">plans_name = #{plansName},</if>
            <if test="plansType != null ">plans_type = #{plansType},</if>
            <if test="plansDesc != null  and plansDesc != ''">plans_desc = #{plansDesc},</if>
            <if test="unitPrice != null ">unit_price = #{unitPrice},</if>
            <if test="totalPrice != null ">total_price = #{totalPrice},</if>
            <if test="flowNumber != null ">flow_number = #{flowNumber},</if>
            <if test="months != null ">months = #{months},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where order_flow_plans_id = #{orderFlowPlansId}
    </update>

    <delete id="deleteOrderFlowPlansById" parameterType="Long">
        delete from nts_order_flow_plans where order_flow_plans_id = #{orderFlowPlansId}
    </delete>

    <delete id="deleteOrderFlowPlansByIds" parameterType="String">
        delete from nts_order_flow_plans where order_flow_plans_id in
        <foreach item="orderFlowPlansId" collection="array" open="(" separator="," close=")">
            #{orderFlowPlansId}
        </foreach>
    </delete>

    <select id="queryByOrderIdAndOrderType" resultMap="OrderFlowPlansResult">
        <include refid="selectOrderFlowPlansVo"/>
        where order_id = #{orderId} and order_type = #{orderType}
    </select>
</mapper>